body  {
       font-family: fantasy;
       color:black;
       font-size: 28px;
       background-image: url(abc.jpg);
       background-size: cover;
       width: 50%;
       margin: auto;
}
img{
    width: 50%;
    border: 8px dotted red;
    border-radius: 15% ;
    display: block;
    margin: auto;
}
h1 {
    border-bottom: 5px solid red;
    text-align: center;
    background-color:#c8d2f4;
}  